@use '../general' as g;

.content {
  &__image {
    & img {
      border-start-start-radius: 1rem;
      border-start-end-radius: 1rem;
    }
  }

  &__text {
    background-color: hsl(0, 0%, 100%);
    border-end-start-radius: 1rem;
    border-end-end-radius: 1rem;
    padding: 2em;
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__paragraph {
    margin-bottom: 1rem;
  }

  &__footer {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: repeat (2, auto);
    grid-template-areas:
      'avatar name share'
      'avatar date share';
    column-gap: 1em;
  }

  &__avatar {
    grid-area: avatar;
    border-radius: 50%;
  }

  &__name {
    grid-area: name;
  }

  &__date {
    grid-area: date;
  }

  &__share {
    grid-area: share;
    padding: 1rem;
    background: var(--lightGrayishBlue);
    border-radius: 50%;
  }
}
