@use '../general' as g;

aside {
  display: flex;
  justify-content: end;
}

.toggle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1em;
  padding: 0;
  // To stop fieldset being as wide as .content
  // https://stackoverflow.com/a/53625429
  min-width: 0;
  max-width: 10%;
  width: 100%;
  border: none;

  & legend {
    grid-column: span 2;
    padding-bottom: 1em;
  }

  &__radio {
    display: flex;
    flex-direction: column;
  }

  & label {
    color: var(--veryDarkGrayishBlue);
    cursor: pointer;
  }

  & input {
    position: relative;
    appearance: none;
    cursor: pointer;
  }

  & input::before {
    position: absolute;
    content: '';
    inset: -1em 0;
    width: 1em;
    height: 1em;
    border: 1px solid var(--desaturatedDarkBlue);
    border-radius: 50%;
  }

  & input:checked::before {
    background: radial-gradient(
      var(--veryDarkGrayishBlue) 0%,
      var(--veryDarkGrayishBlue) 40%,
      transparent 50%,
      transparent 100%
    );
  }
}
