html {
  font-size: 100%;
}

body {
  display: grid;
  place-content: center;
  padding: 1rem;
  background-color: var(--lightGrayishBlue);
  font-family: var(--fontFamily);
  font-size: 0.66rem;
  font-weight: 500;
  color: var(--veryDarkGrayishBlue);
}
