html {
  font-size: 100%;
}

body {
  display: grid;
  place-content: center;
  background-color: var(--lightGrayishBlue);
  font-family: var(--fontFamily);
  color: var(--veryDarkGrayishBlue);
  padding: 1rem;
}
